{% extends "dashboard_layout.html" %}
{%block body%}
<div class="technology">
	<div class="container">
		<div class="contact-section">
			{% if sno >= 1 %}
				<h2 class="w3">Edit Post</h2>
			{% else %}
				<h2 class="w3">Add Post</h2>
			{% endif %}

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}		
						<div class="alert alert-success" role="alert">
							<strong>Great!</strong> {{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
				
			<div class="contact-grids">
				<div class="col-md-8 contact-grid">
					<form id="EditForm" action='/edit/{{post.sno}}' method="post">
						<h4>Title</h4>
						{% if sno >= 1 %}
						<P>{{post.title}}</P>
						{% endif %}
						<input type="text" name="title" value='{{post.title}}' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Title';}" required="">
						<br>
						<hr>
						<h4>Slug</h4>
						{% if sno >= 1 %}
							<p>{{post.slug}}</p>
						{% endif %}
						<input type="text" name="slug" value='{{post.slug}}' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Slug Value';}" required="">
						<br>
						<hr>
						<h4>Html File</h4>
						{% if sno >= 1 %}
							<p>{{post.html_file}}</p>
						{% endif %}
						<input type="text" name="html_file" value='{{post.html_file}}' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Html File';}" required="">
						<br>
						<hr>

						<h4>Image File</h4>
						{% if sno >= 1 %}
							<P>{{post.image_file}}</P>
							{% set image_name ='images/'+post.image_file%}
						{% endif %}
						<img src="{{ url_for('static', filename=image_name) }}" class="img-responsive" alt="">
						<br>
						<input type="text" name="image_file" value='{{post.image_file}}' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Image File Name';}" required="">
						<br>
						<hr>
						<h4>Content</h4>
						{% if sno >= 1 %}
							<P>{{post.content}}</P>
						{% endif %}
						<textarea type="text" name="content" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Post Content';}" required="">{{post.content}}</textarea>
						<button type="submit" class="btn btn-lg btn-primary" id="sendMessageButton" style="background-color:rgb(255, 94, 0);">submit</button>    <a href="/dashboard"><button type="button" class="btn btn-lg btn-primary" id="sendMessageButton" style="background-color:rgb(255, 94, 0);">cancel</button></a>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}